@using TeledocTestTask.Models

<!doctype html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Main</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body style="background-image: url(https://lh6.googleusercontent.com/proxy/Q0CjBkjIKUYWS4reRrjEBKuxck0ryWSCoAv__4-xsWDAeloCczG2gB0RcnYFDIN7pmx1-dV431aizC0ivv2kHt1-u51S0uQs2p8hP7Ck9yG8ur7EFI0ZT-Y=s0-d)">    
    <div style="display:flex">
        <a aligin="left" class="btn btn-primary" role="button" href="~/Client/Add">Добавить клиента</a>
    </div>
    <div align="center">
        @foreach (Client client in Model)
        {
            <div style="max-width: 150vh" class="bg-light p-1 rounded">
                <h3>@client.MiddleName @client.Name @client.LastName</h3>
                @if (@client.clientType == ClientType.IndividualEntrepreneur)
                {
                    <p class="lead">@client.INN Индивидуальный предприниматель</p>
                }
                else
                {
                    <p class="lead">@client.INN Юридическое лицо</p>
                }
                <a class="btn btn-sm btn-outline-secondary" href="~/Client/View/@client.Id" role="button">Просмотр</a>
                <a class="btn btn-sm btn-outline-secondary" href="~/Client/Edit/@client.Id" role="button">Изменить</a>
            </div>
        }
    </div>
</body>
</html>